{% extends 'base.html.twig' %}

{% block title %}New Utilisateurs{% endblock %}

{% block body %}
    <h1>Create new Utilisateurs</h1>

    {{ include('utilisateurs2/_form.html.twig') }}

    <a href="{{ path('app_utilisateurs2_index') }}">back to list</a>
{% endblock %}
