{% block title %}Edit d'un utlisateur {% endblock %}



{% block body %}

<table border="1">

<tr>
    <td>{{ utilisateur.nom }}</td>
    <td>{{ utilisateur.prenom }}</td>
    <td>{{ utilisateur.age }}</td>

</tr>

</table>
{% endblock %}